/* CUSTOM FONT IMPORTS */

@font-face {
    font-family: dotFont;
    src: url(/fonts/Dot.ttf);
}


/* STYLING FOR INDEX.HTML */

* {
    padding: 0;
    margin: 0;
    background-color: black;
}

h1 {
    color: white;
    font-family: dotFont;
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translate(-50%);
}