/* CUSTOM FONT IMPORTS */

@font-face {
    font-family: dotFont;
    src: url(./fonts/Dot.ttf);
}

@font-face {
    font-family: smooth;
    src: url(./fonts/39smooth.ttf);
}

@font-face {
    font-family: marioKartDS;
    src: url(./fonts/Mario-Kart-DS.ttf)
}

@font-face {
    font-family: murrx;
    src: url(./fonts/Murrx.ttf)
}


/* STYLING FOR INDEX.HTML */

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

#profile-image{
    position: absolute;
    width: 200px;
    right: 155px;
    top: 130px;
    opacity: 0;
}

#profile-image:hover{
    opacity: 85%;
}

#flavor-text-1{
    font-family: marioKartDS;
    color: white;
    text-align: center;
    font-size: 25px;
    position: absolute;
    background-color: black;
    letter-spacing: .5px;
    height: 50px;
    width: 550px;
    right: 80px;
    bottom: 130px;
    opacity: 0;
    transition: 1s ease-in-out;
}

#flavor-text-1:hover{
    opacity: 100;
}

#flavor-text-2{
    font-family: marioKartDS;
    color: white;
    text-align: center;
    font-size: 25px;
    position: absolute;
    background-color: black;
    letter-spacing: .5px;
    height: 50px;
    width: 550px;
    right: 80px;
    bottom: 70px;
    opacity: 0;
    transition: 1s ease-in-out;
}

#flavor-text-2:hover{
    opacity: 100;
}

#flavor-text-3{
    font-family: marioKartDS;
    color: rgba(209, 24, 49);
    text-align: center;
    font-size: 25px;
    position: absolute;
    background-color: black;
    letter-spacing: .5px;
    height: 50px;
    width: 550px;
    right: 80px;
    bottom: 10px;
    opacity: 0;
    transition: 1s ease-in-out;
}

#flavor-text-3:hover{
    opacity: 100;
}

#about-text{
    text-align: center;
    line-height: 30px;
    font-size: 25px;
    letter-spacing: .5px;
    position: absolute;
    bottom: 0px;
    left: 250px;
    width: 320px;
    height: 320px;
    z-index: -10;
    font-family: marioKartDS;
    color: black;
    background-color: rgba(209, 24, 49);
    vertical-align: middle;
    opacity: 0;
    transition: 1s ease-in-out;
}

#about-text:hover{
    opacity: 100;
}

#header-text{
    text-align: center;
    letter-spacing: 4px;
    line-height: 51px;
    font-size: 45px;
    width: 400px;
    color: black;
    font-family: dotFont;
    position: absolute;
    top: 90px;
    left: 40px;
    transition: 1s ease-in-out;
}

#header-text:hover{
    color: white;
}

#hero-image-1{
    position: absolute;
    right: 150px;
    height: 46%;
    z-index: -10;
}

#hero-image-2 {
    position: absolute;
    bottom: 0px;
    left: 240px;
    height: 54%;
    z-index: -20;
}

#seraph-element-1{
    position: absolute;
    border: none;
    top: 90px;
    right: 420px;
    width: 23%;
    min-width: 23%;
}

#seraph-element-2{
    position: absolute;
    border: none;
    top: 90px;
    right: 420px;
    width: 23%;
    min-width: 23%;
    animation-name: seraph-element-2-animation;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes seraph-element-2-animation{
    0%{
       transform: translate(4px, 2px);
    }
    25%{
        transform: translate(-4px, 2px);
    }
    50%{
       transform: translate(4px, 1px);
    }
    75%{
        transform: translate(-3px, -2px);
    }
    100%{
       transform: translate(1px, 3px);
    }
}