@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Rubik:wght@400;700&family=Volkhov:wght@400;700&display=swap');

:root {
    --ff-serif: Volkhov, serif;
    --ff-sans: Rubik, sans-serif;
    --ff-script: Quintessential, serif;
    --c1: black;
    --c2: white;
    --c3: lightgray;
    --c4: red;
    --c5: green;
    --c6: mediumvioletred; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid coral; */
}

#alerts {
    background: var(--c4);
    color: var(--c2);
    font-size: 1rem;
    font-family: var(--ff-serif);
    padding: .5rem;
}

header {
    background: var(--c1);
    color: var(--c2);
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    padding: .5rem 0;
}

header img {
    width: 12rem;
}

header ul li {
    display: inline;
    padding: .5rem 1.5rem;
}

#home-link {
    background: var(--c5);
    outline: 1px solid var(--c2);
}

#order-link {
    background: var(--c6);
    outline: 1px solid var(--c2);
}

#hero {
    color: var(--c2);
    font-family: var(--ff-sans);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 100vw;
    height: 80vh;
    background-image: url(./lib/images/rg-bgimg-1.jpeg);
    background-position: center;
    background-size: cover;
}

#hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero h1 {
    font-family: var(--ff-script);
    font-size: 6rem;
    margin-top: 3.5rem;
}

#hero h2 {
    font-size: 1.75rem;
    margin-top: -.5em;
    letter-spacing: .2rem;
    opacity: .85;
}

#hero-nav {
    margin-top: 3.5rem;
}

#hero-nav ul li {
    display: inline;
    margin: 0 3rem;
    padding: .75rem;
}

#menus-nav-link {
    background-color: #4e494973;
    outline: 2px solid var(--c5);
}

#order-nav-link {
    background-color: #4e494973;
    outline: 2px solid var(--c6);
}

footer {
    background: var(--c1);
    color: var(--c2);
    font-family: var(--ff-sans);
    font-size: 1rem;
    padding: 9rem 2rem 1.5rem 2rem;
}

#footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3rem;
}

#footer-grid h1 {
    font-family: var(--ff-script);
    font-size: 1.75rem;
    margin-bottom: 3rem;
}

#contact-grid {
    display: grid;
}

#contact-grid p, #hours-grid p {
    padding: .5rem 0;
}

#follow-links {
    display: flex;
    align-items: center;
}

#follow-links img {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 .5rem 0 .5rem;
}

#hours-grid, #links-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#hours-grid h1, #links-grid h1 {
    grid-area: 1 / 1 / 2 / 3;
}

#links-grid {

}

#links-grid p {
    text-decoration: underline;
}

#copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5rem;
}

#privacy-and-terms ul li {
    display: inline;
    text-decoration: underline;
}

#privacy-and-terms li:last-child {
    margin-left: 2rem;
}

@media (max-width: 60rem) {

    header nav{
        display: none;
    }

    footer {
        padding-top: 0;
    }

    #footer-grid {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 3rem;
    }

    #footer-grid h1{
        padding: 3rem 0 1.5rem 0;

        margin: 0 auto;
    }

    #footer-grid p {
        margin: 0 auto;
    }

    #follow-links {
        margin: 0 auto;
    }

    #address-text {
        max-width: 30ch;
    }

    #copyright {
        flex-direction: column;
    }

    #privacy-and-terms {
        margin-top: 1rem;
    }

    #privacy-and-terms li:last-child {
        margin-left: 1rem;
    }

}